:root {
--fx-clr-sd-1: #021f45;
--cube-1: ease-in-out;
}

body {
margin: 0;
font-family: sans-serif;
background: #000;
}

.fx-hero-1-area {
background: var(--fx-clr-sd-1);
border-radius: 0 0 32px 32px;
overflow: hidden;
position: relative;
}

.fx-hero-1-slider-item {
padding: 10% 0 10%;
position: relative;
z-index: 1;
color: #fff;
}

.fx-hero-1-slider-item-img {
position: absolute;
inset: 0;
z-index: -2;
overflow: hidden;
}

.fx-hero-1-slider-item-img::after {
content: "";
position: absolute;
inset: 0;
background: #021f45;
opacity: 0.56;
}

.fx-hero-1-slider-item-img img {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
transition: all 1s var(--cube-1);
transform: translateX(150px);
filter: blur(5px);

/* mask effect */
--_g: 0% / 37% 45% no-repeat linear-gradient(#fff 0 0);
--m:
left var(--_i, 15%) top var(--_g),
bottom var(--_i, 0%) left var(--_g),
top var(--_i, 0%) right var(--_g),
right var(--_i, 8%) bottom var(--_g);
-webkit-mask: var(--m);
mask: var(--m);
}

.fx-hero-1-slider-item-content {
max-width: 600px;
padding-left: 5%;
}

.fx-hero-1-slider-item-number {
font-size: 18px;
display: flex;
gap: 4px;
margin-bottom: 15px;
}

.fx-hero-1-slider-item-number span {
opacity: 0.4;
}

.fx-hero-1-slider-item-number span:first-child {
opacity: 1;
}

.fx-hero-1-slider-item-title {
font-size: 64px;
font-weight: 600;
line-height: 0.9;
margin-bottom: 30px;
transition: all 1s var(--cube-1);
text-transform: uppercase;
}

.split-line > div {
transform: translateY(100%);
transition: all 1s var(--cube-1);
}

.fx-hero-1-slider-item-pera span {
display: inline-block;
opacity: 1;
transform: translateY(100%);
transition: all 1s var(--cube-1);
}

.fx-pr-btn-1 {
color: #fff;
text-decoration: none;
font-weight: bold;
position: relative;
display: inline-flex;
align-items: center;
gap: 8px;
}

.fx-hero-1-pagination {
position: absolute;
right: 3vw;
top: 50%;
transform: translateY(-50%);
display: flex;
flex-direction: column;
width: 4px !important;
height: 300px;
border-radius: 8px;
background-color: rgba(255, 255, 255, 0.5);
z-index: 2;
}

.fx-hero-1-pagination .swiper-pagination-bullet {
width: 100%;
height: 100%;
opacity: 0;
transition: all 1s var(--cube-1);
margin: 0 !important;
}

.fx-hero-1-pagination .swiper-pagination-bullet-active {
opacity: 1;
background-color: #013768;
}

/* Responsive */
@media (max-width: 575.98px) {
.fx-hero-1-slider-item {
padding-top: 315px;
padding-bottom: 105px;
}

.fx-hero-1-slider-item-title {
font-size: 28px;
line-height: 1;
}

.fx-hero-1-pagination {
display: none;
}
}
.f-item ul li{
    list-style-type: disclosure-closed;
    color:#000;
    padding: 10px;
}
.f-item ul li a {
    color: #000;
    text-decoration: none;
    
}  
.f-item ul li:hover {
    margin-left: 5px;
    transition: 0.4s;
}
.f-item ul li a:hover {
    color: #2B4DFF;
}
.footer {
    background: 
        linear-gradient(rgb(233 236 234 / 93%)), url(../footer.jpg) center center / cover no-repeat;
    width: 100%;
    position: relative;
}
.footer_end_line {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    background-color: #3188ce;
}
/* footer section end */
/* contact us section start */
.contact_hero {
    background: linear-gradient(rgba(0, 0, 0, 0.815)), url(../contact-us.jpg) center center / cover no-repeat;
    padding: 10% 0;
    color: #fff;
}
.contact_hero_text{
    max-width: 700px;
    margin: auto 0%;
}
.contact_hero_text h1 {
    font-size: 48px;
    font-weight: bold;
}
.contact_hero_text p {
    font-size: 20px;
    margin-top: 10px;
}
.contact_hero_text a {
    color: #fff;
    text-decoration: none;
}
.our_contact{
    width: 900px;
    margin: auto;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.our_contact p:nth-child(1){
    font-size: 15px;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}
.our_contact p:nth-last-child{
font-size: 16px;
}
.our_contact h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #3188ce;
}

.contact_info_box {
    padding: 26px;
    box-shadow: 0px 1px 3px 3px #3087ce6b;
    border-radius: 5px 47px;
    text-align: center;
}
.contact_info_box i {
    border: 1px solid;
    padding: 15.4px;
    border-radius: 8px;
    font-size: 28px;
    margin: 8px 0px;
    display: inline-block;
}
.contact_info_box h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
    color: #3188ce;
}
.contact_info_box a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
}
.form_contact{
    width: 100%;
    text-align: left;
}
.form_contact label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
.form_contact input, .form_contact textarea {
    width: 100%;
    padding: 2% !important;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px !important;
}
/* contact us section end */

/* about page section */
.about_hero {
    background: linear-gradient(rgba(0, 0, 0, 0.815)), url(../about.jpg) center center / cover no-repeat;
    padding: 10% 0;
    color: #fff;
}
.about_titles{
        font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 52px;
}
.about_title_main{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
/* about section end */
/* team section start */ 
.our_team{
    background: url("../particle_2.png") center center / cover no-repeat;
    padding: 80px 0;
    width: 100%;
}