:root {
--fx-clr-sd-1: #021f45;
--cube-1: ease-in-out;
}

body {
margin: 0;
font-family: sans-serif;
background: #000;
}

.fx-hero-1-area {
background: var(--fx-clr-sd-1);
border-radius: 0 0 32px 32px;
overflow: hidden;
position: relative;
}

.fx-hero-1-slider-item {
padding: 10% 0 10%;
position: relative;
z-index: 1;
color: #fff;
}

.fx-hero-1-slider-item-img {
position: absolute;
inset: 0;
z-index: -2;
overflow: hidden;
}

.fx-hero-1-slider-item-img::after {
content: "";
position: absolute;
inset: 0;
background: #021f45;
opacity: 0.56;
}

.fx-hero-1-slider-item-img img {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
transition: all 1s var(--cube-1);
transform: translateX(150px);
filter: blur(5px);

/* mask effect */
--_g: 0% / 37% 45% no-repeat linear-gradient(#fff 0 0);
--m:
left var(--_i, 15%) top var(--_g),
bottom var(--_i, 0%) left var(--_g),
top var(--_i, 0%) right var(--_g),
right var(--_i, 8%) bottom var(--_g);
-webkit-mask: var(--m);
mask: var(--m);
}

.fx-hero-1-slider-item-content {
max-width: 600px;
padding-left: 5%;
}

.fx-hero-1-slider-item-number {
font-size: 18px;
display: flex;
gap: 4px;
margin-bottom: 15px;
}

.fx-hero-1-slider-item-number span {
opacity: 0.4;
}

.fx-hero-1-slider-item-number span:first-child {
opacity: 1;
}

.fx-hero-1-slider-item-title {
font-size: 64px;
font-weight: 600;
line-height: 0.9;
margin-bottom: 30px;
transition: all 1s var(--cube-1);
text-transform: uppercase;
}

.split-line > div {
transform: translateY(100%);
transition: all 1s var(--cube-1);
}

.fx-hero-1-slider-item-pera span {
display: inline-block;
opacity: 1;
transform: translateY(100%);
transition: all 1s var(--cube-1);
}

.fx-pr-btn-1 {
color: #fff;
text-decoration: none;
font-weight: bold;
position: relative;
display: inline-flex;
align-items: center;
gap: 8px;
}

.fx-hero-1-pagination {
position: absolute;
right: 3vw;
top: 50%;
transform: translateY(-50%);
display: flex;
flex-direction: column;
width: 4px !important;
height: 300px;
border-radius: 8px;
background-color: rgba(255, 255, 255, 0.5);
z-index: 2;
}

.fx-hero-1-pagination .swiper-pagination-bullet {
width: 100%;
height: 100%;
opacity: 0;
transition: all 1s var(--cube-1);
margin: 0 !important;
}

.fx-hero-1-pagination .swiper-pagination-bullet-active {
opacity: 1;
background-color: #013768;
}

/* Responsive */
@media (max-width: 575.98px) {
.fx-hero-1-slider-item {
padding-top: 315px;
padding-bottom: 105px;
}

.fx-hero-1-slider-item-title {
font-size: 28px;
line-height: 1;
}

.fx-hero-1-pagination {
display: none;
}
}